/*reset de estilos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333; 
    background-color: #f0f0f0;
}

/*Cabeçalgo e navegação*/
#cabecalho-principal {
    background-color: #3315a1;
    color: rgb(208, 231, 238);
    padding: 20px 0;
    text-align: center;
}

#cabecalho-principal h1{
    margin-bottom: 15px;
    color: f4f4f4;

}

#cabecalho-principal nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
}

#cabecalho-principal nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 5px;

}

/*Efeito ao passar o mouse nos botôes, ao passar o mouse 
cor do fundo e do texto*/
#cabecalho-principal nav a:hover {
    transition: background-color 0.3s ease;
    background-color: #f4f4f4;
    color: #3315a1;
}

/*main*/
#main-content {
    max-width: 900px;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px;

}

#main-content h2,
#main-content h3 {
    color: #333;
    margin-bottom: 15px;
}

/* Se for id, usa-se #, se for classe usa-se . */
main img.logo {
    width: 400px;
    margin: 20px auto;
    display: block;
}

/*Rodapé, remover js do HTML ao aprender JS*/
#footer-content {
    text-align: center;
    padding: 15px 0;
    background-color: #696969;
    color: #f4f4f4;
    margin-top: 20px;
    font-size: 14px;
}